* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    background-color: rgba(134, 133, 133,.4);
    min-height: 100vh;
}

/* =====SIDEBAR===== */

.dashboard {
    background-color: rgb(0, 152, 255);
    color: white;
    grid-column: 1/2;
    grid-row: 1/-1;
    padding: 1rem;
    .link-dashboard {
        font-size: 1.5rem;
        font-weight: bold;
        padding-bottom: 2rem;
        .icon {
            width: 2rem;
            height: 2rem;
            fill: currentColor;
        }
    }
    > * {
        font-weight: bold;
    }
    .link {
        gap: .75rem;
    }
}

.navs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: .5rem;
    > div {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
}

.link {
    display: flex;
    align-items: center;
}

/* =====HEADER===== */

.header {
    grid-column: 2/-1;
    grid-row: 1/2;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "topbar-nav"
        "topbar-intro";
    padding: 0 2rem 1rem 2rem;
    box-shadow: 0 4px 6px -2px rgba(0,0,0,.3);
}

.topbar-nav {
    grid-area: topbar-nav;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "search-bar profile-icons";
    .search-bar {
        grid-area: search-bar;
        display: flex;
        align-items: center;
        gap: 1rem;
        #search {
            background-color: rgba(134, 133, 133,.4);
            border: none;
            border-radius: 1rem;
            width: 80%; /*stretches the input*/
            height: 1.5rem;
        }
    }
    .profile-icons {
        grid-area: profile-icons;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        gap: 1rem;
        > span {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 2fr;
            font-size: 1rem;
            font-weight: bold;
            padding: 0 1rem;
            gap: 1rem;
        }
        .icon {
            justify-self: center;
        }
    }
}

.id-icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: rgb(173, 173, 38);
}

.topbar-intro {
    grid-area: topbar-intro;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "intro intro-utilities";
    .intro {
        grid-area: intro;
        display: grid;
        grid-template-columns: auto auto 1fr;
        gap: 1rem;
        .intro-text {
            display: grid;
            align-self: center;
            font-weight: bold;
            > *:last-child {
                font-size: 1.5rem;
            }
        }
    }
    .intro-utilities {
        grid-area: intro-utilities;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: .5rem;
        button {
            width: 5rem;
            height: 2rem;
            background-color:rgb(0, 152, 255);
            color: white;
            border: none;
            border-radius: 1rem;
            font-weight: bold;
            padding: .5rem;
        }
    }
    .id-icon {
        width: 4rem;
        height: 4rem;
    }
}

/* @media(max-width: 700px) {
    .dashboard {
        display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
} */
/* =====CARDS===== */
.cards-section {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: auto;
    padding: 2rem 1rem;
    grid-column: 2/3;
    grid-row: 2/3;
    gap: 1.5rem;
    span {
        max-height: 1.5rem;
        grid-column: 1/-1;
        font-weight: bold;
        font-size: 1.25rem;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-column: 1/2;
    grid-row: 1/2;
    /* sizes each row to content and no extra stretching of space */
    align-content: start; 
    gap: 1.5rem;
    flex: 1;
    .card {
        display: grid;
        grid-template-rows: auto auto;
        padding: 2rem 1rem 1rem 1rem;
        background-color: white;
        border-radius: .5rem;
        border-left: .5rem solid yellow;
        min-height: 180px;
    }
}

.card-title {
    font-weight: bold;
    font-size: 1rem;
}

.card-text {
    font-size: .85rem;
}

.card-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.card-icons {
    display: flex;
    place-self: end;
    padding: .75rem;
    gap: 1rem;
}

.sidebar-panel {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "announcement" 
        "trending";
    align-content: stretch; 
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    .announcement {
        grid-area: announcement;
    }
    .trending {
        grid-area: trending;
    }
    .announcement, .trending {
        display: grid;
        gap: 1rem;
        align-content: start;
        flex: 1;
    }
}

.trending-profiles, .announcements {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}

.id {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 1rem;
}